body {
    margin: 0;
    background-color: #24273a;
    overflow: hidden;
}

header {
    position: absolute;
    width: 100%;
    margin-top: 3em;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 900;
    z-index: 1;
}

#three-canvas {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.construction {
    width: 100%;
    display: none;
    z-index: 99;
}

.lower {
    position: absolute;
    bottom: 0;
    left: 0;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #cad3f5;
    background-color: #24273a;
    font-size: 2em;
    font-weight: 900;
    z-index: 1;
    font-family: monospace ;
}

.loading-text {
    white-space: pre;
}

.pacman {
    color: #eed49f;
} 

#loading-percentage {
    color: #a6da95;
}

.links {
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vh;
    z-index: 5;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

.link-item {
    container-type: size;
    height: 5vh;
    min-width: 5vh;
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
}

.logo {
    width:  5vh;
    height: 5vh;
    opacity: 75%;
}

.logo-text {
    padding-left: 1vh;
    color: #ffffffcc;
    text-align: left;
    white-space: nowrap;
}

@container (min-height: 0px) {
    .logo-text {
        font-size: 100cqh;
        line-height: 100cqh;
    }
}