body {
    margin: 0;
    background-color: black;
}

header {
    position: absolute;
    width: 100%;
    margin-top: 3em;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 900;
    z-index: 1;
}

#model canvas {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}